body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,  'Oswald', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*-------------------------------------------------------------------------------------------*/
/*Homepage*/
.home {
text-align: center;
margin: 0;
position: absolute;
top: 50%;
left: 50%;
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
}

.login-signup {
  font-family: 'MedievalSharp', cursive;
  display: block;
  margin: 0 auto .5em auto;
  padding: .4em;
  font-size: 2.3em;
  text-decoration: none;
  background-color: #ffffff;
  color: #000000;
  border: .05em solid #000000;
  border-radius: .3em;
}

.home-description {
  font-size: 1.3em;
  font-family: 'Oswald', sans-serif;
}

/*-------------------------------------------------------------------------------------------*/
/*Login-Signup*/
form {
  text-align: center;
  margin: 12em auto;
}

input {
  width: 80%;
  height: 3em;
  border-radius: .5em;
  margin-bottom: 1.5em;
  font-family: 'Oswald'
}

label {
  display: block;
  font-size: 1.75em;
}

input, label {
  text-align: center;
}

.login-signup-button {
  font-family: 'MedievalSharp', cursive;
  margin: 1em auto 0 auto;
  padding: .15em .8em;;
  font-size: 2.3em;
  background-color: #ffffff;
  border-radius: .3em;
}


/*-------------------------------------------------------------------------------------------*/
@media only screen and (min-width: 768px) {
  .home-description {
    font-size: 1.75em;
  }


  input {
    width: 60%;
    height: 4em;
  }
  
  label {
    font-size: 2.5em;
  }

  .login-signup-button {
    font-size: 3em;
  }
}


/*-------------------------------------------------------------------------------------------*/
@media only screen and (min-width: 992px) {
  .login-signup {
    display: inline;
    margin: .3em;
  }

  .home-description {
    font-size: 1.7em;
  }

  form {
    text-align: left;
    margin-top: 5em;
    margin-left:15em;
  }

  label {
    text-align: left;
  }

  input {
    margin-left: 3em;
    text-align: left;
  }

  .login-signup-button {
    margin-left: 1em;
  }
}

