body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,  'Oswald', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*-------------------------------------------------------------------------------------------*/
/*Homepage*/
.home {
text-align: center;
margin: 0;
position: absolute;
top: 50%;
left: 50%;
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
}

.login-signup {
  font-family: 'MedievalSharp', cursive;
  display: block;
  margin: 0 auto .5em auto;
  padding: .4em;
  font-size: 2.3em;
  text-decoration: none;
  background-color: #ffffff;
  color: #000000;
  border: .05em solid #000000;
  border-radius: .3em;
}

.home-description {
  font-size: 1.3em;
  font-family: 'Oswald', sans-serif;
}

.home-edition {
  font-size: .7em;
  font-family: 'Oswald', sans-serif;
}

@media only screen and (min-width: 768px) {
  .home-description {
    font-size: 1.75em;
  }
  
  .home-edition {
    font-size: 1.1em;
  }
}

@media only screen and (min-width: 992px) {
  .login-signup {
    display: inline;
    margin: .3em;
  }

  .home-description {
    font-size: 1.7em;
  }
  
  .home-edition {
    font-size: 1.3em;
  }
}

